header nav {
  width: 90%;
  height: 120px;
  margin: 0 auto;
  background-color: skyblue;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header nav img {
    padding: 10px; }
  header nav .titulopagina {
    color: black;
    font-weight: bold;
    font-style: italic; }
  header nav .menu {
    list-style: none;
    display: flex;
    padding: 10px; }
    header nav .menu a {
      color: black;
      text-decoration: none;
      padding: 0.7rem; }
      header nav .menu a:hover {
        background-color: black;
        color: white;
        border-radius: 20px; }

main .titulohome {
  padding: 70px;
  text-align: center;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: aparece; }

@keyframes aparece {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

main .container {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: none;
  justify-content: center; }
  main .container .card {
    width: 250px;
    margin: 20px;
    overflow: hidden;
    background-color: #dad7d7;
    cursor: default; }
    main .container .card .fotohome {
      width: 250px; }

main .container2 {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: none;
  justify-content: center; }
  main .container2 .card2 {
    width: 250px;
    margin: 20px;
    overflow: hidden;
    background: #dad7d7;
    cursor: default; }
    main .container2 .card2 .fotohome {
      width: 250px; }

main .container21 {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: none;
  justify-content: center; }
  main .container21 .card3 {
    width: 250px;
    margin: 20px;
    overflow: hidden;
    background: #dad7d7;
    cursor: default; }
    main .container21 .card3 .fotohome {
      width: 250px; }

main .sobrenostitulo {
  text-align: center; }

main p {
  text-align: center; }

main .mapa {
  text-align: center; }

main .formularioregistro {
  text-align: center;
  margin: 5%;
  padding: 5%;
  font-size: 130%; }

footer {
  background-color: #24262B;
  padding: 80px 0; }
  footer .container3 {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center; }
    footer .container3 .footer-row {
      display: flex;
      flex-wrap: wrap;
      margin: auto; }
      footer .container3 .footer-row .footer-links {
        width: 25%;
        padding: 0 15px;
        margin: auto; }
        footer .container3 .footer-row .footer-links h4 {
          font-size: 20px;
          color: #FFFFFF;
          margin-bottom: 25px;
          font-weight: 500;
          border-bottom: 2px solid #00C3FF;
          display: inline-block;
          padding-bottom: 10px;
          display: inline-block; }
        footer .container3 .footer-row .footer-links ul li a {
          font-size: 18px;
          text-decoration: none;
          color: #BBBBBB;
          display: block;
          margin-bottom: 15px;
          transition: all .3s ease; }
          footer .container3 .footer-row .footer-links ul li a:hover {
            color: #FFFFFF;
            padding-left: 6px; }
        footer .container3 .footer-row .footer-links .social-link a {
          display: inline-block;
          min-height: 40px;
          width: 40px;
          background-color: rgba(255, 255, 255, 0.2);
          margin: 0 10px 10px 0;
          text-align: center;
          line-height: 40px;
          border-radius: 50%;
          color: white;
          transition: all 0.5s ease; }
          footer .container3 .footer-row .footer-links .social-link a:hover {
            background-color: #00C3FF; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dad7d7; }

@media (max-width: 991px) {
  nav {
    height: 130px;
    width: 100%;
    margin: 0%; }
  .menu {
    flex-direction: column;
    top: 0%;
    right: 0;
    position: absolute; }
  .titulopagina {
    display: none; }
  .logo {
    text-align: left; }
  .container {
    display: grid;
    flex-direction: column; }
  .container2 {
    display: grid;
    flex-direction: column; }
  .container21 {
    display: grid;
    flex-direction: column; }
  .footer-row {
    flex-direction: column;
    text-align: center;
    margin: auto; }
  .footer-links {
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;
    margin: auto; } }

@media (max-width: 768px) {
  nav {
    height: 130px;
    width: 100%;
    margin: 0%; }
  .menu {
    flex-direction: column;
    top: 0%;
    right: 0;
    position: absolute; }
  .titulopagina {
    display: none; }
  .logo {
    text-align: left; }
  .container {
    display: grid;
    flex-direction: column; }
  .container2 {
    display: grid;
    flex-direction: column; }
  .container21 {
    display: grid;
    flex-direction: column; }
  .footer-row {
    flex-direction: column;
    text-align: center;
    margin: auto; }
  .footer-links {
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;
    margin: auto; } }

@media (max-width: 320px) {
  nav {
    height: 130px;
    width: 100%;
    margin: 0%; }
  .menu {
    flex-direction: column;
    top: 0%;
    right: 0;
    position: absolute; }
  .titulopagina {
    display: none; }
  .logo {
    text-align: left; }
  .container {
    display: grid;
    flex-direction: column; }
  .container2 {
    display: grid;
    flex-direction: column; }
  .container21 {
    display: grid;
    flex-direction: column; }
  .footer-row {
    flex-direction: column;
    text-align: center;
    margin: auto; }
  .footer-links {
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;
    margin: auto; } }
