main{
    .titulohome{
        padding: 70px;
        text-align: center;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: aparece;
        @keyframes aparece{
            0%{
                opacity: 0;
            }
            50%{
                opacity: 1;
            }
            100%{
                opacity: 0;
            }
        }
    }
    .container{
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        background-color: none;
        justify-content: center;
        .card{
            width: 250px;
            margin: 20px;
            overflow: hidden;
            background-color: $gris;
            cursor: default;
            .fotohome{
                width: 250px;
            }
        }
    }
    .container2{
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        background-color: none;
        justify-content: center;
        .card2{
            width: 250px;
            margin: 20px;
            overflow: hidden;
            background: $gris;
            cursor: default;
            .fotohome{
                width: 250px;
            }
        }
    }
    .container21{
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        background-color: none;
        justify-content: center;
        .card3{
            width: 250px;
            margin: 20px;
            overflow: hidden;
            background: $gris;
            cursor: default;
            .fotohome{
                width: 250px;
            }
        }
    }
    .sobrenostitulo{
        text-align: center;
    }
    p{
        text-align: center; 
    }
    .mapa{
        text-align: center;
    }
    .formularioregistro{
        text-align: center;
        margin: 5%;
        padding: 5%;
        font-size: 130%;
        .ini{
            text-decoration: none;
        }
    }
    .iniciosesion{
        text-align: center;
        margin: 5%;
        padding: 5%;
        font-size: 150%;
    }
}